@import "tailwindcss";

@theme {
  --color-primary: #191726;
  --color-secondary: #2d2945;
  --color-accent: #00c2ff;
  --color-background: #ededed;
  
  --font-body: var(--font-inter);
  --font-heading: var(--font-sora);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}
